a[href^="https://youtube.com"]:before,
a[href^="https://www.youtube.com"]:before,
a[href^="https://goodreads.com"]:before,
a[href^="https://www.goodreads.com"]:before,
a[href^="https://github.com"]:before,
a[href^="https://www.github.com"]:before
{
  font-family: "Line Awesome Free";
  font-weight: 900;
  padding-right: 4px;
}

a[href^="https://youtube.com"]:before,
a[href^="https://www.youtube.com"]:before
{
  content: "\f03d";
}

a[href^="https://goodreads.com"]:before,
a[href^="https://www.goodreads.com"]:before
{
  content: "\f02d";
}

a[href^="https://github.com"]:before,
a[href^="https://www.github.com"]:before
{
  content: "\f120";
}

a[href^="https://en.wikipedia.org"]:before,
a[href^="https://es.wikipedia.org"]:before
{
  font-family: "Line Awesome Brands";
  padding-right: 4px;
  content: "\f266";
}
